@font-face {
  font-family: 'HelveticaNeue-Bold';
  src:url('../../font/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HKBold';
  src:url('../../font/HKBOLD.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PingFang SC", "helvetica neue", "Microsoft YaHei", sans-serif;
}
.loading-page .title {
  font-family: 'Joox Brand Bold';
}
.loading-page .title .main-title {
  font-size: 0.58rem;
  -webkit-text-stroke: 2px #000;
}
.loading-page .title .main-desc {
  margin-left: 0.03rem;
  font-size: 0.195rem;
  -webkit-text-stroke: 1.2px #000;
  font-family: "HKBold" ,"PingFang SC", "helvetica neue", sans-serif;
}
body.ios .loading-page .title .main-title {
  font-size: 0.56rem;
  -webkit-text-stroke: 1.5px #000;
}
body.ios .loading-page .title .main-desc {
  margin-left: 0;
  font-size: 0.2rem;
}