@font-face {
  font-family: 'PSLChocolateExtraW4Pro';
  src:url('../../font/PSLChocolateExtraWaPro.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PSLThanuthongExtraPro';
  src:url('../../font/PSLThanuthongExtraPro.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PSLThanuthongPro';
  src:url('../../font/PSL Thanuthong Pro.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PSLChocolateExtraW4Pro", "PingFang SC", "helvetica neue", sans-serif;
}

.loading-page .title {
  font-family: 'PSLChocolateExtraW4Pro';
}
.loading-page .title .main-title {
  font-size: 0.575rem;
  -webkit-text-stroke: 2px #000;
}
.loading-page .title .main-desc {
  font-size: 0.19rem;
  -webkit-text-stroke: 1.4px #000;
}
body.ios .loading-page .title .main-title {
  -webkit-text-stroke: 1.5px #000;
}
body.ios .loading-page .title .main-desc {
  -webkit-text-stroke: 1px #000;
}
.loading-page .tips {
  font-size: 0.16rem;
}
.loading-page button {
  font-size: 0.24rem;
  font-family: 'PSLThanuthongExtraPro';
  font-weight: normal;
}
.dialog-header {
  font-family: 'PSLChocolateExtraW4Pro';
}
.dialog-body {
  font-family: 'PSLThanuthongPro';
}
.dialog-body .font-bold {
  font-family: 'PSLThanuthongExtraPro';
  font-weight: normal;
}
.dialog-body .scroll p {
  font-size: 0.16rem;
  line-height: 1.125;
  font-weight: 400;
}
.dialog-body .scroll a {
  display: inline;
  font-family: 'PSLThanuthongExtraPro';
}

.page-result .top .result p {
  font-family: 'PSLThanuthongExtraPro';
  font-size: 0.2rem!important;
  font-weight: normal!important;
}
.page-result .top .result p.stroke {
  font-family: 'PSLChocolateExtraW4Pro';
  font-size: 0.37rem!important;
  font-weight: normal!important;
}
.page-result .texts {
  font-family: 'PSLThanuthongExtraPro';
}
.page-result .btn {
  font-family: 'PSLThanuthongExtraPro';
  font-size: 0.24rem;
}
.page-result .retry-btn {
  font-family: 'PSLThanuthongExtraPro';
  font-size: 0.24rem;
}
.page-result .suport .logo {
  width: 0.78rem;
}
.page-result .suport .line {
  height: 0.78rem;
}