@import "reset.less";
.loading-page {
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    &.hide {
        opacity: 0;
        pointer-events: none;
    }
}
.reward-rule-btn {
    
    position: absolute;
    top: 0.12rem;
    left: 0;
    padding: .06rem 0.12rem;
    border-radius: 0 20px 20px 0;
    background-color: rgba(0,0,0,0.9);
    color: #ffdd2b;
    font-size: .12rem;
    font-weight: 500;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    z-index: 1;
    line-height: 1;
    &.show {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}
.rule-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: #03e596;
    opacity: 0;
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-transition: opacity .2s ease-in-out, transform .3s ease-in-out;
    transition: opacity .2s ease-in-out, transform .3s ease-in-out;
    &.active {
        z-index: 0;
    }
    &.show {
        z-index: 10;
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.page-dialog {
    width: 100vw;
    height: 100vh;
    padding-top: 0.2rem;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    &.show {
        z-index: 10;
        opacity: 1;
        .modal-mask {
            opacity: 1;
        }
        .modal-dialog {
            -webkit-transform: translate(-50%, -55%);
            transform: translate(-50%, -55%);
        }
    }
}
.modal-mask {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
.modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3.3rem;
    padding-top: .4rem;
    height: 60vh;
    transform: translate(-50%, 50vh);
    -webkit-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    background-color: #fff;
    border-radius: 10px;
    .close {
        position: absolute;
        top: 0;
        right: 0;
        width: 0.4rem;
        height: 0.4rem;
        text-align: center;
        line-height: 0.4rem;
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: rotate(45deg);
            transform-origin: 0 0;
            &:before,
            &:after {
                display: block;
                content: '';
                width: 0.21rem;
                height: 0.21rem;
                background-color: #000;
            }
            &:before  {
                height: 1px;
                margin-left: -.1rem;
            }
            &:after {
                width: 1px;
                margin-top: -.11rem;
            }
        }
    }
}
.dialog-header {
    font-family: 'Joox Brand Bold';
    p {
        color: #ffdd2b;
        line-height: 1;
        font-size: 0.3rem;
        text-align: center;
        -webkit-text-stroke: 1.5px #000;
    }
}
.dialog-body {
    padding: 0.15rem 0;
    color: #000;
    font-size: .12rem;
    height: calc(100vh - .2rem - .36rem);
    .scroll {
        height: 100%;
        padding: 0 .12rem;
        overflow-y: auto;
        word-break: break-word;
        p {    
            font-size: 0.12rem;
            line-height: 1.6;
            word-break: break-word;
        }
        a {
            padding-top: 0.03rem;
            color: #000;
            text-decoration: underline;
            font-family: 'HelveticaNeue-Bold';
            display: block;
        }
    }
}
.dialog-footer {
    width: 100%;
    padding: 0.1rem;

    button {
        display: block;
        width: 100%;
        max-width: 3rem;
        height: 0.44rem;
        margin: 0 auto;
        background-color: #000;
        color: #fff;
        font-size: .2rem;
        border: none;
        outline: none;
        border-radius: 500px;
    }
}

.sound {
    position: fixed;
    top: 0.12rem;
    right: 0.12rem;
    width: 0.25rem;
    height: 0.25rem;
}

.sound img {
    width: 100%;
}

.sound.on {
    -webkit-animation: _rotate 2s linear infinite;
    animation: _rotate 2s linear infinite;
}
@keyframes _rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}