@font-face {
  font-family: 'Joox Brand Bold';
  src: url('../font/JOOX-Brand-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Joox Brand Regular';
  src: url('../font/JOOX-Brand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html {
  font-size: calc(100vw / 375 * 100);
}
body {
  font-size: 0.16rem;
  font-family: "PingFang SC", "helvetica neue", "Microsoft YaHei", sans-serif;
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.stroke {
  -webkit-text-stroke: 1px #000;
}
.loading-page {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.loading-page.hide {
  opacity: 0;
  pointer-events: none;
}
.reward-rule-btn {
  position: absolute;
  top: 0.12rem;
  left: 0;
  padding: 0.06rem 0.12rem;
  border-radius: 0 20px 20px 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffdd2b;
  font-size: 0.12rem;
  font-weight: 500;
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
  line-height: 1;
}
.reward-rule-btn.show {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.rule-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: #03e596;
  opacity: 0;
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out;
}
.rule-page.active {
  z-index: 0;
}
.rule-page.show {
  z-index: 10;
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.page-dialog {
  width: 100vw;
  height: 100vh;
  padding-top: 0.2rem;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0;
}
.modal.show {
  z-index: 10;
  opacity: 1;
}
.modal.show .modal-mask {
  opacity: 1;
}
.modal.show .modal-dialog {
  -webkit-transform: translate(-50%, -55%);
  transform: translate(-50%, -55%);
}
.modal-mask {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3.3rem;
  padding-top: 0.4rem;
  height: 60vh;
  transform: translate(-50%, 50vh);
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  background-color: #fff;
  border-radius: 10px;
}
.modal-dialog .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.4rem;
  height: 0.4rem;
  text-align: center;
  line-height: 0.4rem;
}
.modal-dialog .close span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.modal-dialog .close span:before,
.modal-dialog .close span:after {
  display: block;
  content: '';
  width: 0.21rem;
  height: 0.21rem;
  background-color: #000;
}
.modal-dialog .close span:before {
  height: 1px;
  margin-left: -0.1rem;
}
.modal-dialog .close span:after {
  width: 1px;
  margin-top: -0.11rem;
}
.dialog-header {
  font-family: 'Joox Brand Bold';
}
.dialog-header p {
  color: #ffdd2b;
  line-height: 1;
  font-size: 0.3rem;
  text-align: center;
  -webkit-text-stroke: 1.5px #000;
}
.dialog-body {
  padding: 0.15rem 0;
  color: #000;
  font-size: 0.12rem;
  height: calc(100vh - 0.2rem - 0.36rem);
}
.dialog-body .scroll {
  height: 100%;
  padding: 0 0.12rem;
  overflow-y: auto;
  word-break: break-word;
}
.dialog-body .scroll p {
  font-size: 0.12rem;
  line-height: 1.6;
  word-break: break-word;
}
.dialog-body .scroll a {
  padding-top: 0.03rem;
  color: #000;
  text-decoration: underline;
  font-family: 'HelveticaNeue-Bold';
  display: block;
}
.dialog-footer {
  width: 100%;
  padding: 0.1rem;
}
.dialog-footer button {
  display: block;
  width: 100%;
  max-width: 3rem;
  height: 0.44rem;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  font-size: 0.2rem;
  border: none;
  outline: none;
  border-radius: 500px;
}
.sound {
  position: fixed;
  top: 0.12rem;
  right: 0.12rem;
  width: 0.25rem;
  height: 0.25rem;
}
.sound img {
  width: 100%;
}
.sound.on {
  -webkit-animation: _rotate 2s linear infinite;
  animation: _rotate 2s linear infinite;
}
@keyframes _rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
html,
body {
  -ms-touch-action: none;
  -webkit-touch-action: none;
  touch-action: none;
  background-color: #3583fd;
  padding: 0;
  border: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}
.page-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #03e596;
}
.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.loading-page .title {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -2.7rem;
  text-align: center;
  color: #FFE90E;
  font-weight: 600;
  user-select: none;
  font-family: 'Joox Brand Bold';
}
.loading-page .title img {
  width: 0.93rem;
}
.loading-page .title .main-title {
  line-height: 1;
  letter-spacing: 0;
}
.loading-page .title .main-desc {
  line-height: 1.2;
  letter-spacing: 0;
}
.loading-page .tips {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  color: #000;
  text-align: center;
  font-size: 0.13rem;
  opacity: 0;
}
.loading-page .tips.show {
  opacity: 1;
}
.loading-page .progress {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  max-width: 3.2rem;
  transform: translateX(-50%);
  opacity: 0;
}
.loading-page .progress.show {
  opacity: 1;
}
.loading-page .progress .progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.46rem;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #000;
  box-shadow: 0 1px 1px 1px #000;
  overflow: hidden;
}
.loading-page .progress .progress-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fff72a;
  border-radius: 50px;
}
.loading-page .progress .progress-progress img {
  position: absolute;
  top: -0.04rem;
  right: -0.12rem;
  width: 0.25rem;
}
.loading-page button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff72a;
  border-radius: 50px;
  color: #000;
  font-size: 0.18rem;
  height: 0.46rem;
  outline: none;
  display: none;
  border: 1px solid #000;
  box-shadow: 0 1px 1px 1px #000;
  user-select: none;
  font-weight: 700;
}
.loading-page button:active {
  -webkit-transform: scale(0.96);
  transform: scale(0.96);
}
.sound {
  display: none;
}
.reward-rule-btn {
  color: #03e596;
}
